@use "../../../styles/index" as *;

.navbar {
  position:  fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-sm 0;
  gap: $spacing-sm;
  z-index: 2;
}

.content {
  border-radius: $border-radius-pill;
  background: var(--color-bg-surface);
  padding: $spacing-sm;
}

.logo {
  display: inline-flex;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  gap: $spacing-zero;
  list-style: none;
  margin: 0;
  padding: 0;
}