@use "../../../styles/index" as *;

.text {
  font-family: $font-family-base;
  margin: 0;
}

/* Variants – typography tokens */
.body {
  font-size: $font-size-body;
  line-height:  $line-height-body;
}

.small {
  font-size: $font-size-small;
  line-height:  $line-height-small;
}

.caption {
  font-size: $font-size-caption;
  line-height:  $line-height-small;
}

/* Font weight */
.weight-regular {
  font-weight: $font-weight-regular;
}

.weight-medium {
  font-weight: $font-weight-medium;
}

.weight-bold {
  font-weight: $font-weight-bold;
}

/* Color variants – design tokens */
.color-default {
  color: var(--color-text-primary);
}

.color-muted {
  color: var(--color-bg-subtle)Grey-Default;
}

.color-primary {
  color: var(--color-action-primary);
}

.color-inherit {
  color: inherit;
}
