@use "../../../styles/index" as *;

.footerContent {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.date,
.readingTime {
  font-size: $font-size-caption;
  color: var(--color-text-secondary);
}

.dot {
  font-size: $font-size-caption;
  color: var(--color-text-disabled);
}