$c-Sea-50: #EFF7FFFF;
$c-Sea-100: #DEEEFFFF;
$c-Sea-200: #B6DEFFFF;
$c-Sea-300: #76C5FFFF;
$c-Sea-400: #2DA8FFFF;
$c-Sea-500: #028DF5FF;
$c-Sea-600: #006ED2FF;
$c-Sea-700: #0058AAFF;
$c-Sea-800: #005096FF;
$c-Sea-900: #073E73FF;
$c-Sea-950: #04274DFF;
$c-Sand-50: #FFF6EDFF;
$c-Sand-100: #FFEAD4FF;
$c-Sand-200: #FFD2A9FF;
$c-Sand-300: #FFAA64FF;
$c-Sand-400: #FE8639FF;
$c-Sand-500: #FC6413FF;
$c-Sand-600: #ED4909FF;
$c-Sand-700: #C53509FF;
$c-Sand-800: #9C2B10FF;
$c-Sand-900: #7E2510FF;
$c-Sand-950: #441006FF;
$c-Blue-50: #EFF6FFFF;
$c-Blue-100: #DBEAFEFF;
$c-Blue-200: #BFDBFEFF;
$c-Blue-300: #93C5FDFF;
$c-Blue-400: #60A5FAFF;
$c-Blue-500: #3B82F6FF;
$c-Blue-600: #2563EBFF;
$c-Blue-700: #1D4ED8FF;
$c-Blue-800: #1E40AFFF;
$c-Blue-900: #1E3A8AFF;
$c-Blue-950: #172554FF;
$c-Grey-0: #FFFFFFFF;
$c-Grey-50: #F7F7F7FF;
$c-Grey-100: #EDEDEDFF;
$c-Grey-200: #DFDFDFFF;
$c-Grey-300: #C7C7C7FF;
$c-Grey-400: #ADADADFF;
$c-Grey-500: #999999FF;
$c-Grey-600: #888888FF;
$c-Grey-700: #7B7B7BFF;
$c-Grey-800: #676767FF;
$c-Grey-900: #545454FF;
$c-Grey-950: #363636FF;
$c-Grey-1000: #000000FF;
$c-Green-50: #EAFFF5FF;
$c-Green-100: #CCFFE6FF;
$c-Green-200: #9FFBD2FF;
$c-Green-300: #3DF2ADFF;
$c-Green-400: #22E5A1FF;
$c-Green-500: #00CC8AFF;
$c-Green-600: #00A672FF;
$c-Green-700: #00855FFF;
$c-Green-800: #00694CFF;
$c-Green-900: #005640FF;
$c-Green-950: #003125FF;
$c-Orange-50: #FFF7EDFF;
$c-Red-50: #FEF2F2FF;
$c-Red-100: #FEE2E2FF;
$c-Red-200: #FECACAFF;
$c-Red-300: #FCA5A5FF;
$c-Red-400: #F87171FF;
$c-Red-500: #EF4444FF;
$c-Red-600: #DC2626FF;
$c-Red-700: #B91C1CFF;
$c-Red-800: #991B1BFF;
$c-Red-900: #7F1D1DFF;
$c-Red-950: #450A0AFF;
$c-Orange-100: #FFEDD5FF;
$c-Orange-200: #FED7AAFF;
$c-Orange-300: #FDBA74FF;
$c-Orange-400: #FB923CFF;
$c-Orange-500: #F97316FF;
$c-Orange-600: #EA580CFF;
$c-Orange-700: #C2410CFF;
$c-Orange-800: #9A3412FF;
$c-Orange-900: #7C2D12FF;
$c-Orange-950: #431407FF;