@use "./spacing.scss" as *;

$Border-Radius-Zero: $Space-0;
$Border-Radius-Extra-Small: $Space-1;
$Border-Radius-Small: $Space-2;
$Border-Radius-Medium: $Space-3;
$Border-Radius-Large: $Space-4;
$Border-Radius-Extra-large: $Space-6;
$Border-Radius-Pill: $Space-20;
