@use "../../../styles/index" as *;
 
.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 500;
  }
.default {
  background: var(--color-bg-subtle);
  color: var(--color-text-secondary);
}

.success {
  background: var(--color-success-subtle);
  color: var(--color-success-text);
}

.warning {
  background: var(--color-warning-subtle);
  color: var(--color-warning-text);
}

.danger {
  background: var(--color-error-subtle);
  color: var(--color-error-text);
}

.info {
  background: var(--color-info-subtle);
  color: var(--color-info-text);
}