@use "../../../styles/index" as *;

.card {
    background: $Colors-Grey-Light;
    border-radius: $Border-Radius-Small;
    border: 1px solid $Colors-Grey-Default;
    transition: all 0.2s ease;
  }
  
  .padding {
    padding: $Padding-Large;
  }
.hover:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  }